{% extends "navbar.html" %}
{% block list  %}
<body>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Update a product</h2>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">{{form.as_p}}</div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Update</button></div>
                </form>
            </div>
        </section>
    {{form.non_field_errors }}
    {{form.errors}}
    {{form.non_form_errors}}
{% endblock %}