{% extends "navbar.html" %}
{% block list  %}
<body>
    <main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Add a new Category</h2>
                </div>
                <form action="addcategory" method="POST" >
                    {% csrf_token %}
                    <div class="form-group">{{form.as_p}}</div>
                    <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Add</button></div>
                </form>
            </div>
        </section>
    {{form.non_field_errors }}
    {{form.errors}}
    {{form.non_form_errors}}
    </main>
{% endblock %}