{% load static %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<div class="container">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
    </h3>
  
 <div class="container">
  <div class="row">
    <div class="col-sm-6" >
       <div class="card mb-4 border-dark">
         <img class="card-img-top" src="https://lh3.googleusercontent.com/proxy/wOdxMbqBp37XS0oC81XMeRmYvbTjkJ-h7ARlCq1IaBtMIFtnpIpj8SFUd5vPUzjzPCxq7ZS-LMoPxfY52MANe-sSQBNPBZyzNWGcb90KXpz5a5TzH8BkVjNM">
            <div class="card-body">
               <h5 class="card-title">are you buyer?</h5>
               <p class="card-text">Register and enjoy your cheese.</p>
               <a href="/user/signup/buyer" class="btn btn-dark btn-sm">Sign Up</a>
            </div>
         </div>
    </div>
    <div class="col-sm-6" >
      <div class="card mb-4 text-white bg-dark">
            <img class="card-img-top" src="https://previews.123rf.com/images/studioworkstock/studioworkstock1708/studioworkstock170800477/84046456-smiling-seller-man-with-electronic-gadgets-icon-shopping-in-supermarket-retail-vector-illustration-i.jpg" alt="Card image cap">
            <div class="card-body">
               <h5 class="card-title">are you seller?</h5>
               <p class="card-text">Put your cheese and let us do the rest.</p>
               <a href="/user/signup/provider" class="btn btn-outline-light btn-sm">Sign Up</a>
            </div>
         </div>
    </div>
  </div>
</div> 