{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign up</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/assets/css/styles.min.css' %} ">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row mh-100vh">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
                <div class="m-auto w-lg-75 w-xl-50">
                    <h2 class="text-info font-weight-light mb-5"><i class="fa fa-diamond"></i>&nbsp;T- commerce</h2>

                  
                    <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                        <p>
                          {{ field.label_tag }}<br>
                          {{ field }}
                          {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                          {% endif %}
                          {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                        </p>
                      {% endfor %}
                      <button type="submit">Sign up</button>
                    </form>
                    
                    <p class="mt-3 mb-0"> Have an account ? <a href="/user/signin">login</a></p>
                </div>
                {% for msg  in messages  %}
                        <div class="alert alert-danger alert-dismissible fade show">
                                <strong>Error!</strong>{{msg}}
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>             
                {% endfor %}
            </div>
            <div class="col-lg-6 d-flex align-items-end" id="bg-block" 
                style="background-image:url(&quot;{{STATIC_URL}}/static/assets/img/background1.jpg?h=5fd8aca410cbf5f64947d9352d6751f0&quot;);background-size:cover;background-position:center center;">
                <p class="ml-auto small text-dark mb-2"><a class="text-dark" href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank"></a><br></p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>