{% extends "navbar.html" %}
{% load crispy_forms_tags %}
{% load static %}

    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      
        <form method="POST" enctype = "multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>

    <body id="page-top">
      {%block list%}
      <div id="wrapper">
          <div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="{{ provider.profile.image.url }}"data-original-title="Usuario"> 
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <strong>Information</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{provider.first_name}}     
                            </td>
                        </tr>
                        
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Username                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{provider.username}}  
                            </td>
                        </tr>


                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open text-primary"></span> 
                                    Role                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                Provider
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{provider.email}}
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Member since                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{provider.date_joined}}
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Founded since                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{provider.profile.birth_date}}
                            </td>
                        </tr>                                    
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>      




             <div class="align-self-stretch" id="content-wrapper">
              <div id="content">
                  <div class="container-fluid">
                      <div class="row mb-3">
                          <div class="col-lg-4">
                             
                          </div>
                         
                              <div class="row">
                                  <div class="col">
                                      <div class="card shadow mb-3">
                                          <div class="card-header py-3">
                                              <p class="text-primary m-0 font-weight-bold">Product List</p>
                                          </div>
                                          <div class="card-body">
                                          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Available</th>
                                    <th>Ordered</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                {% for pro in products %}
                                <tr>
                                    <td>{{pro.name}}</td>
                                    <td>{{pro.category}}</td>
                                    <td>{{pro.description}}</td>
                                    <td>
                                        {% if pro.quantity < 0 %}
                                            Product out of stock
                                            {%else%}
                                            <a class="" type="button" href="{% url 'productdetails' pro.id %}">Product</a> is Available 
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{order.count}}
                                    </td>
                                </tr>
                                {%empty%}
                                <td colspan  = "5">     
                                This provider dosent have any product to sell! please check later
                                </td>
                                {% endfor %}
                            </tbody>
            
                        </table>
                                             
                                              
                                           
                                            </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                 
                  </div>
              </div>
          </div>


                        <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Reviews</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                               
                                   
                                    <div class="reviews">
                                        <div class="review-item">

                                            <!-- show only the comments non signlaer -->
                                            {% for comment in comments %}
                                                {%if comment.flag == False  %} 

                                                    <div class="comments" style="padding: 10px;">
                                                        <p class="font-weight-bold">
                                                            {{ comment.user.username }}
                                                            <span class=" text-muted font-weight-normal">
                                                            {{ comment.created_on }}
                                                            </span>
                                                        </p>
                                                        {{ comment.content | linebreaks }}
                                                    </div>
                                                {%endif%}
                                            {% endfor %}
                                    </div>
                                   
                                </div>
                            </div>
                    </div>

                    <div class="clean-related-items"></div>
                    <!-- Start: Comment Card -->
                    <div class="card text-white bg-primary mb-1">
                        <div class="card-header">
                            {% if user.is_authenticated%}
                            {{user.username}}
                            {%else%}
                            you are a visteur
                            {%endif%}
                            
                        </div>
                        {% if user.is_authenticated%}
                        <div class="card-body">
                            {% if new_comment %}
                            <div class="alert alert-success" role="alert">
                              Your comment has bean added with success
                            </div>
                            {% else %}
                            <h3>Leave a comment</h3>
                            <form method="post" style="margin-top: 1.3em;">
                                <div class="card-body">
                                    <div class=" card-text form-group">
                                        {{ comment_form }}
                                    </div>
                                  
                                </div>
                              
                              {% csrf_token %}
                              <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                            </form>
                            {% endif %}
                        </form>
                        </div>
                        {%else%}
                        <br>
                        <div>
                            <p class="bg-light text-dark"> Please <a class="text-success" href="/user/signin">login</a>  in order to leave a comment</p>
                        </div>
                        {%endif%}

                    </div>

                    <!-- End: Comment Card -->



                    
                </div>

    {%endblock%}
   